In [43]:
# from IPython.utils import io
# with io.capture_output() as captured:
#     !pip install scispacy
#     !pip install https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.4/en_core_sci_lg-0.2.4.tar.gz
#     !pip install whoosh

In [44]:
import whoosh
from whoosh.qparser import *
from whoosh.fields import Schema, TEXT, KEYWORD, ID, STORED
from whoosh.analysis import StandardAnalyzer
from whoosh import index

from whoosh.analysis import Tokenizer, Token
from whoosh import highlight

In [45]:
import pandas as pd
# df_Yahoo = pd.read_csv('Yahoo_Tickers.csv', encoding = "utf-8", na_values="\\N")

In [46]:
# df_Yahoo.head()

In [47]:
# df_NASDAQ = pd.read_csv('NASDAQ_Tickers.csv')

In [48]:
# df_NASDAQ.head()

In [49]:
df = pd.read_csv('Tickers.csv', encoding = "utf-8", na_values="\\N") 
# df = pd.read_csv('SEC_Tickers.csv', encoding = "utf-8", na_values="\\N")

In [50]:
df['Name'] = df['Name'].str.upper()

In [51]:
df_kek = pd.read_csv('kek.csv', encoding = "utf-8", na_values="\\N")

In [52]:
abbreviations = {
    'AG': 'AKTIENGESELLSCHAFT',
    'AVRG': 'AVERAGE',
    'BK': 'BANK',
    'BKG': 'BANKING',
    'CAP': 'CAPITAL',
    'CHEMS': 'CHEMICALS',
    'CO': 'COMPANY',
    'CONSTR': 'CONSTRUCTION',
    'CORP': 'CORPORATION',
    'CTLS': 'CONTROLS',
    'FINL': 'FINANCIAL',
    'FLA': 'FLORIDA',
    'FLTNG': 'FLOATING',
    'HLDG': 'HOLDING',
    'HLDGS': 'HOLDINGS',
    'INDL': 'INDUSTRIAL',
    'INTL': 'INTERNATIONAL',
    'LABS': 'LABORATORIES',
    'MACHS': 'MACHINES',
    'MATLS': 'MATERIALS',
    'MGMT': 'MANAGEMENT',
    'NATL': 'NATIONAL',
    'PAC': 'PACIFIC',
    'PETE': 'PETROLEUM',
    'PPTYS': 'PROPERTIES',
    'PRODS': 'PRODUCTS',
    'RLTY': 'REALTY',
    'RTE': 'RATE',
    'RY': 'RAILWAY',
    'SR': 'SENIOR',
    'SVCS': 'SERVICES',
    'TR': 'TRUST'
}

In [53]:
df_kek.head()

,Unnamed: 0,CIK,Name of fund,Quater of report,Signing date,Name of Issuer,Ticker of Issuer,CUSIP,Value (x$1000),Shares,Shares type,Investment Discretion,Voting Sole,Shared,None
0,0,1584087,1492 Capital Management LLC,2022-03-31,2022-05-11,A10 NETWORKS INC,ATEN,002121101,188585,10041,SH,SOLE,10041,0,0
1,1,1584087,1492 Capital Management LLC,2022-03-31,2022-05-11,ABBVIE INC,ABBV,00287Y109,140,1340,SH,SOLE,1340,0,0
2,2,1584087,1492 Capital Management LLC,2022-03-31,2022-05-11,ACCEL ENTERTAINMENT INC,acel,00436Q106,217,287328,SH,SOLE,287328,0,0
3,3,1584087,1492 Capital Management LLC,2022-03-31,2022-05-11,ADTRAN INC,ADTN,00738A106,3500,187092,SH,SOLE,187092,0,0
4,4,1584087,1492 Capital Management LLC,2022-03-31,2022-05-11,AMERESCO INC,AMRC,02361E108,3452,10401,SH,SOLE,10401,0,0

In [54]:
def replace_abbreviation(name):
    name = [abbreviations.get(word) if abbreviations.get(word) is not None else word for word in name.split()]
    name = ' '.join(name)
    return name

In [55]:
for index in range(len(df_kek)):
    df_kek['Name of Issuer'].iloc[index] = replace_abbreviation(df_kek['Name of Issuer'].iloc[index])

In [56]:
for index in range(len(df_kek)):
    df['Name'].iloc[index] = replace_abbreviation(df['Name'].iloc[index])

In [57]:
df

      Ticker                                 Name
0       AAPL                           Apple Inc.
1       MSFT                       MICROSOFT CORP
2      GOOGL                        Alphabet Inc.
3       AMZN                       AMAZON COM INC
4       TSLA                          Tesla, Inc.
...      ...                                  ...
12170  SHCAU  Spindletop Health Acquisition Corp.
12171  ASPAW                    Abri SPAC I, Inc.
12172  ENERR          ACCRETION ACQUISITION CORP.
12173  ENERW          ACCRETION ACQUISITION CORP.
12174  ENERU          ACCRETION ACQUISITION CORP.

[12175 rows x 2 columns]

In [58]:
from whoosh.index import create_in

In [59]:
schema = Schema(Ticker = TEXT(stored=True), Name=TEXT(stored=True))

In [60]:
ix = create_in(".", schema)

In [61]:
writer = ix.writer()

In [62]:
# names = [Ticker, Name]

In [63]:
for index, row in df.iterrows():
    writer.add_document(Ticker = str(df.Ticker.iloc[index]),
                        Name   = str(df.Name.iloc[index])
                        )
writer.commit()

In [64]:
# for i in df.range():
#     writer.add_document(Ticker = str(df.title.iloc[i]), 
#                         Name = str(df.content.iloc[i]),
#                         )
# writer.commit()

In [65]:
from whoosh.qparser import QueryParser
from whoosh.query import *

In [66]:
Search_letter = 'a'

In [67]:
from whoosh import qparser

In [68]:
# search_fields = ['title','content']

# og = qparser.OrGroup.factory(0.9)
# mp = qparser.MultifieldParser(search_fields, schema, group = og)

# q = mp.parse(Search_letter)

# with ix.searcher() as s:
#     results = s.search(q, terms=True, limit = 10)
#     print("Search Results: ")
        
        
#     print(results[0:10])

In [69]:
# searcher = ix.searcher()
# proposed_time_strings = []
# with ix.searcher() as searcher:
#     parser = QueryParser("Name", ix.schema)
#     # querystring = Search_letter
#     querystring = u"CACI INTL INC"
#     myquery = parser.parse(querystring)
#     print(myquery)
#     results = searcher.search(myquery)
#     results.fragmenter.surround = 500
#     results.fragmenter.maxchars = 1500
#     print(len(results))
#     for res in results:
#         print(res['Ticker'])
#         #if(str.find(sub,start,end))
#         res_strings = res.highlights("Name", top = 5)
#         print(res_strings)
#         print("END__________________________________________________")

#         proposed_time_strings.append(res_strings)

In [70]:
def Search_Ticker(query):
   
    searcher = ix.searcher()
    proposed_time_strings = []
    with ix.searcher() as searcher:
        parser = QueryParser("Name", ix.schema)
        querystring = str(query)
        # querystring = u"Apple"
        myquery = parser.parse(querystring)
        print(myquery)
        results = searcher.search(myquery)
        results.fragmenter.surround = 500
        results.fragmenter.maxchars = 1500
        # print(len(results))
        if (len(results) >= 1):
            print("Ticker: " + results[0]['Ticker'])
            print("__________________________________________________")
            return results[0]['Ticker']
        else:
            print("Not match found")
            print("__________________________________________________")
            pass

        # for res in results:
        #     print(res['Ticker'])
            # #if(str.find(sub,start,end))
            # res_strings = res.highlights("Name", top = 1)
            # print(res_strings)
            # print("END__________________________________________________")

            # proposed_time_strings.append(res_strings)

In [71]:
df_kek['Ticker of Issuer 2'] = ""

In [72]:
df_kek.head(5)

,Unnamed: 0,CIK,Name of fund,Quater of report,Signing date,Name of Issuer,Ticker of Issuer,CUSIP,Value (x$1000),Shares,Shares type,Investment Discretion,Voting Sole,Shared,None,Ticker of Issuer 2
0,0,1584087,1492 Capital Management LLC,2022-03-31,2022-05-11,A10 NETWORKS INC,ATEN,002121101,188585,10041,SH,SOLE,10041,0,0,
1,1,1584087,1492 Capital Management LLC,2022-03-31,2022-05-11,ABBVIE INC,ABBV,00287Y109,140,1340,SH,SOLE,1340,0,0,
2,2,1584087,1492 Capital Management LLC,2022-03-31,2022-05-11,ACCEL ENTERTAINMENT INC,acel,00436Q106,217,287328,SH,SOLE,287328,0,0,
3,3,1584087,1492 Capital Management LLC,2022-03-31,2022-05-11,ADTRAN INC,ADTN,00738A106,3500,187092,SH,SOLE,187092,0,0,
4,4,1584087,1492 Capital Management LLC,2022-03-31,2022-05-11,AMERESCO INC,AMRC,02361E108,3452,10401,SH,SOLE,10401,0,0,

In [73]:
for index in range(len(df_kek)):
    df_kek['Ticker of Issuer 2'].iloc[index] = Search_Ticker(df_kek['Name of Issuer'].iloc[index])

(Name:a10 AND Name:networks AND Name:inc)
Ticker: ATEN
__________________________________________________
(Name:abbvie AND Name:inc)
Ticker: ABBV
__________________________________________________
(Name:accel AND Name:entertainment AND Name:inc)
Ticker: ACEL
__________________________________________________
(Name:adtran AND Name:inc)
Ticker: ADTN
__________________________________________________
(Name:ameresco AND Name:inc)
Ticker: AMRC
__________________________________________________
(Name:american AND Name:vanguard AND Name:corp)
Ticker: AVD
__________________________________________________
(Name:ameris AND Name:bancorp)
Ticker: ABCB
__________________________________________________

C:\Users\vladm\AppData\Local\Temp\ipykernel_44988\3799809491.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_kek['Ticker of Issuer 2'].iloc[index] = Search_Ticker(df_kek['Name of Issuer'].iloc[index])

(Name:ammo AND Name:inc)
Ticker: POWW
__________________________________________________
(Name:ani AND Name:pharmaceuticals AND Name:inc)
Ticker: ANIP
__________________________________________________
(Name:apollo AND Name:endosurgery AND Name:inc)
Ticker: APEN
__________________________________________________
(Name:arcutis AND Name:biotherapeutics AND Name:inc)
Ticker: ARQT
__________________________________________________
(Name:argo AND Name:group AND Name:intl AND Name:hldgs AND Name:ltd)
Not match found
__________________________________________________
(Name:avient AND Name:corporation)
Not match found
__________________________________________________
(Name:bm AND Name:technologies AND Name:inc)
Ticker: BMTX
__________________________________________________
(Name:box AND Name:inc)
Ticker: BOX
__________________________________________________
(Name:caci AND Name:intl AND Name:inc)
Not match found
__________________________________________________
(Name:cadence AND Name:bank)
Ticker: CADE
__________________________________________________
(Name:caesars AND Name:entertainment AND Name:inc AND Name:ne)
Not match found
__________________________________________________
(Name:carpenter AND Name:technology AND Name:corp)
Ticker: CRS
__________________________________________________
(Name:cerence AND Name:inc)
Ticker: CRNC
__________________________________________________
(Name:charles AND Name:riv AND Name:labs AND Name:intl AND Name:inc)
Not match found
__________________________________________________
(Name:chart AND Name:inds AND Name:inc)
Not match found
__________________________________________________
(Name:cirrus AND Name:logic AND Name:inc)
Ticker: CRUS
__________________________________________________
(Name:city AND Name:office AND Name:reit AND Name:inc)
Ticker: CIO
__________________________________________________
(Name:clarus AND Name:corp AND Name:new)
Not match found
__________________________________________________
(Name:copa AND Name:holdings AND Name:sa)
Not match found
__________________________________________________
(Name:custom AND Name:truck AND Name:one AND Name:source AND Name:inc)
Ticker: CTOS
__________________________________________________
(Name:darling AND Name:ingredients AND Name:inc)
Ticker: DAR
__________________________________________________
(Name:digital AND Name:turbine AND Name:inc)
Ticker: APPS
__________________________________________________
(Name:docgo AND Name:inc)
Ticker: DCGO
__________________________________________________
(Name:doubleverify AND Name:hldgs AND Name:inc)
Not match found
__________________________________________________
(Name:draftkings AND Name:inc)
Ticker: DKNG
__________________________________________________
(Name:dynatrace AND Name:inc)
Ticker: DT
__________________________________________________
(Name:dzs AND Name:inc)
Ticker: DZSI
__________________________________________________
(Name:eagle AND Name:matls AND Name:inc)
Not match found
__________________________________________________
(Name:emerald AND Name:holding AND Name:inc)
Ticker: EEX
__________________________________________________
(Name:fb AND Name:finl AND Name:corp)
Not match found
__________________________________________________
(Name:ferroglobe AND Name:plc)
Ticker: GSM
__________________________________________________
(Name:iii AND Name:apparel AND Name:group AND Name:ltd)
Ticker: GIII
__________________________________________________
(Name:gamida AND Name:cell AND Name:ltd)
Ticker: GMDA
__________________________________________________
(Name:global AND Name:med AND Name:reit AND Name:inc)
Not match found
__________________________________________________
(Name:graphic AND Name:packaging AND Name:hldg AND Name:co)
Not match found
__________________________________________________
(Name:heidrick AND Name:struggles AND Name:intl)
Not match found
__________________________________________________
(Name:highpeak AND Name:energy AND Name:inc)
Ticker: HPK
__________________________________________________
(Name:horizon AND Name:therapeutics AND Name:pub)
Not match found
__________________________________________________
(Name:hudbay AND Name:minerals AND Name:inc)
Ticker: HBM
__________________________________________________
(Name:ishares AND Name:tr)
Not match found
__________________________________________________
(Name:ishares AND Name:tr)
Not match found
__________________________________________________
(Name:kaleyra AND Name:inc)
Ticker: KLR
__________________________________________________
(Name:korn AND Name:ferry)
Ticker: KFY
__________________________________________________
(Name:livent AND Name:corp)
Ticker: LTHM
__________________________________________________
(Name:lovesac AND Name:company)
Not match found
__________________________________________________
(Name:lsb AND Name:inds AND Name:inc)
Not match found
__________________________________________________
(Name:lumentum AND Name:hldgs AND Name:inc)
Not match found
__________________________________________________
(Name:magnachip AND Name:semiconductor AND Name:corp)
Ticker: MX
__________________________________________________
(Name:magnite AND Name:inc)
Ticker: MGNI
__________________________________________________
(Name:mannkind AND Name:corp)
Ticker: MNKD
__________________________________________________
(Name:marcus AND Name:corp AND Name:del)
Not match found
__________________________________________________
(Name:maxlinear AND Name:inc)
Ticker: MXL
__________________________________________________
(Name:microsoft AND Name:corp)
Ticker: MSFT
__________________________________________________
(Name:navigator AND Name:hldgs AND Name:ltd)
Not match found
__________________________________________________
(Name:nvidia AND Name:corporation)
Not match found
__________________________________________________
(Name:ollies AND Name:bargain AND Name:outlet AND Name:hldgs)
Not match found
__________________________________________________
(Name:open AND Name:lending AND Name:corp)
Ticker: LPRO
__________________________________________________
(Name:pacira AND Name:biosciences AND Name:inc)
Ticker: PCRX
__________________________________________________
(Name:paratek AND Name:pharmaceuticals AND Name:inc)
Ticker: PRTK
__________________________________________________
(Name:patterson AND Name:uti AND Name:energy AND Name:inc)
Ticker: PTEN
__________________________________________________
(Name:paycom AND Name:software AND Name:inc)
Ticker: PAYC
__________________________________________________
(Name:penn AND Name:natl AND Name:gaming AND Name:inc)
Not match found
__________________________________________________
(Name:perion AND Name:network AND Name:ltd)
Ticker: PERI
__________________________________________________
(Name:physicians AND Name:rlty AND Name:tr)
Not match found
__________________________________________________
(Name:pilgrims AND Name:pride AND Name:corp)
Ticker: PPC
__________________________________________________
(Name:pilgrims AND Name:pride AND Name:corp)
Ticker: PPC
__________________________________________________
(Name:ping AND Name:identity AND Name:hldg AND Name:corp)
Not match found
__________________________________________________
(Name:powerschool AND Name:holdings AND Name:inc)
Ticker: PWSC
__________________________________________________
(Name:propetro AND Name:hldg AND Name:corp)
Not match found
__________________________________________________
(Name:purecycle AND Name:technologies AND Name:inc)
Ticker: PCT
__________________________________________________
(Name:qualtek AND Name:services AND Name:inc)
Ticker: QTEK
__________________________________________________
(Name:quidel AND Name:corp)
Ticker: QDEL
__________________________________________________
(Name:ranger AND Name:oil AND Name:corporation)
Not match found
__________________________________________________
(Name:repligen AND Name:corp)
Ticker: RGEN
__________________________________________________
(Name:reservoir AND Name:media AND Name:inc)
Ticker: RSVR
__________________________________________________
(Name:ringcentral AND Name:inc)
Ticker: RNG
__________________________________________________
(Name:roth AND Name:ch AND Name:acquisition AND Name:iv AND Name:co)
Ticker: ROCG
__________________________________________________
(Name:roth AND Name:ch AND Name:acquisition AND Name:iv AND Name:co)
Ticker: ROCG
__________________________________________________
(Name:seacoast AND Name:bkg AND Name:corp AND Name:fla)
Not match found
__________________________________________________
(Name:seelos AND Name:therapeutics AND Name:inc)
Ticker: SEEL
__________________________________________________
(Name:semtech AND Name:corp)
Ticker: SMTC
__________________________________________________
(Name:silicon AND Name:motion AND Name:technology AND Name:co)
Not match found
__________________________________________________
(Name:silicon AND Name:motion AND Name:technology AND Name:co)
Not match found
__________________________________________________
(Name:skechers AND Name:inc)
Ticker: SKX
__________________________________________________
(Name:sm AND Name:energy AND Name:co)
Ticker: SM
__________________________________________________
(Name:spdr AND Name:ser AND Name:tr)
Not match found
__________________________________________________
(Name:sterling AND Name:constr AND Name:inc)
Not match found
__________________________________________________
(Name:summit AND Name:hotel AND Name:pptys AND Name:inc)
Not match found
__________________________________________________
(Name:summit AND Name:matls AND Name:inc)
Not match found
__________________________________________________
(Name:syneos AND Name:health AND Name:inc)
Ticker: SYNH
__________________________________________________
(Name:tandem AND Name:diabetes AND Name:care AND Name:inc)
Ticker: TNDM
__________________________________________________
(Name:third AND Name:coast AND Name:bancshares AND Name:inc)
Ticker: TCBX
__________________________________________________
(Name:tillys AND Name:inc)
Not match found
__________________________________________________
(Name:tremor AND Name:intl AND Name:ltd)
Not match found
__________________________________________________
(Name:tyme AND Name:technologies AND Name:inc)
Ticker: TYME
__________________________________________________
(Name:universal AND Name:display AND Name:corp)
Ticker: OLED
__________________________________________________
(Name:vanguard AND Name:intl AND Name:equity AND Name:index)
Not match found
__________________________________________________
(Name:veritex AND Name:hldgs AND Name:inc)
Not match found
__________________________________________________
(Name:whole AND Name:earth AND Name:brands AND Name:inc)
Ticker: FREE
__________________________________________________
(Name:wintrust AND Name:finl AND Name:corp)
Not match found
__________________________________________________
(Name:zions AND Name:bancorporation)
Ticker: ZION
__________________________________________________

In [74]:
df_kek.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             108 non-null    int64
 1   CIK                    108 non-null    int64
 2   Name of fund           108 non-null    object
 3   Quater of report       108 non-null    object
 4   Signing date           108 non-null    object
 5   Name of Issuer         108 non-null    object
 6   Ticker of Issuer       108 non-null    object
 7   CUSIP                  108 non-null    object
 8   Value (x$1000)         108 non-null    int64
 9   Shares                 108 non-null    int64
 10  Shares type            108 non-null    object
 11  Investment Discretion  108 non-null    object
 12  Voting Sole            108 non-null    int64
 13  Shared                 108 non-null    int64
 14  None                   108 non-null    int64
 15  Ticker of Issuer 2     67 non-null     object
dtypes: int64(7), object(9)
memory usage: 13.6+ KB

In [75]:
df_kek.head(100)

,Unnamed: 0,CIK,Name of fund,Quater of report,Signing date,Name of Issuer,Ticker of Issuer,CUSIP,Value (x$1000),Shares,Shares type,Investment Discretion,Voting Sole,Shared,None,Ticker of Issuer 2
0,0,1584087,1492 Capital Management LLC,2022-03-31,2022-05-11,A10 NETWORKS INC,ATEN,002121101,188585,10041,SH,SOLE,10041,0,0,ATEN
1,1,1584087,1492 Capital Management LLC,2022-03-31,2022-05-11,ABBVIE INC,ABBV,00287Y109,140,1340,SH,SOLE,1340,0,0,ABBV
2,2,1584087,1492 Capital Management LLC,2022-03-31,2022-05-11,ACCEL ENTERTAINMENT INC,acel,00436Q106,217,287328,SH,SOLE,287328,0,0,ACEL
3,3,1584087,1492 Capital Management LLC,2022-03-31,2022-05-11,ADTRAN INC,ADTN,00738A106,3500,187092,SH,SOLE,187092,0,0,ADTN
4,4,1584087,1492 Capital Management LLC,2022-03-31,2022-05-11,AMERESCO INC,AMRC,02361E108,3452,10401,SH,SOLE,10401,0,0,AMRC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,1584087,1492 Capital Management LLC,2022-03-31,2022-05-11,SUMMIT MATLS INC,No Symbol Found,86614U100,197,37610,SH,SOLE,37610,0,0,None
96,96,1584087,1492 Capital Management LLC,2022-03-31,2022-05-11,SYNEOS HEALTH INC,SYNH,87166B102,1168,49848,SH,SOLE,49848,0,0,SYNH
97,97,1584087,1492 Capital Management LLC,2022-03-31,2022-05-11,TANDEM DIABETES CARE INC,TNDM,875372203,4035,10372,SH,SOLE,10372,0,0,TNDM
98,98,1584087,1492 Capital Management LLC,2022-03-31,2022-05-11,THIRD COAST BANCSHARES INC,TCBX,88422P109,1206,52214,SH,SOLE,52214,0,0,TCBX
99,99,1584087,1492 Capital Management LLC,2022-03-31,2022-05-11,TILLYS INC,TLYS,886885102,1206,217167,SH,SOLE,217167,0,0,None

In [76]:
df_kek.to_csv (r'D:\GitHub\Yahoo-project\export.csv', index = False, header=True)

PermissionError: [Errno 13] Permission denied: 'D:\\GitHub\\Yahoo-project\\export.csv'